body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--body-secondary-color);
}

h1
{
    color: var(--secondary-color);
    text-align: center;
    padding-bottom: 1.5rem;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuadro
{
    background-color: var(--box-color);
    width: 700px;
    border-radius: 20px;
    padding: 15px;
}

.arriba
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.texto
{
    width: 90%;
    margin-right: 0.8rem;
    border-radius: 12px;
    height: 30px;
    border-color: transparent;
    background-color: rgb(187, 174, 174);
    padding-left: 10px;
    font-size: 1.45rem;
}

input::placeholder{
    color: var(--placeholder-color);
}


.mas
{
    background-color: rgb(112, 46, 112);
    color: white;
    border-color: transparent;
    margin-right: 0.8rem;
    border-radius: 12px;
    width: 5%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.mas:hover
{
    background-color: rgb(153, 57, 153);
    cursor: pointer;
}

.p
{
    color: rgb(250, 155, 155);
    font-size: 16px;
}



.abajo{
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid black;
    overflow-y: auto;
    overflow-x: hidden;
}

ul
{
    padding: 0.5rem;
    margin: 0px;
}

li {
    display: flex;
    align-items: center;       
    margin-bottom: 10px;
}


li p {
    color: var(--text-color);
    font-size: 20px;
    text-align: left; 
    flex: 1;
}

.check, .delete {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 8px;
    border-radius:10px;
}

.check{
    background-color: rgb(30, 198, 86);
    color: black;
}

.delete{
    background-color: rgb(243, 34, 7);
    color: white;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
}

footer button{
    width: auto;
    height: 35px ;
    margin-left: 20px;
    border-radius: 10px;
    border-color: transparent;
}

.Azul{
    color: white;
    background-color: rgb(26, 26, 172);
    border-color: transparent;
    
}

.Azul:hover{
    cursor: pointer;
    background-color: rgb(35, 35, 195);
}
.Verde{
    color: white;
    background-color: rgb(40, 144, 75);
    border-color: transparent;
    font-size: large;
}

.Verde:hover{
    cursor: pointer;
    background-color: rgb(19, 128, 62);
}

.Rojo{
    color: white;
    background-color: rgb(243, 34, 7);
    border-color: transparent;
    font-size: large;
}

.Rojo:hover{
    cursor: pointer;
    background-color: rgb(214, 10, 13);
}

/* Telefono*/
@media (max-width: 767px){
    #titulo{
    font-size: 50px;
    padding: 10px;
    }

    .cuadro {
        width: 90%; 
    }

    .texto{
        font-size: 18px;
        flex: content;
    }

    .p{
        font-size: 18px;
    }

    li p{
        font-size: 15px;
    }

    .abajo{
        max-height: 40vh;
        overflow-y: auto;
        overflow-x:hidden;
    }

    #footer {
        flex-direction: flex; 
        align-items: center;
        width: 100%;
        padding: 15px; 
    }

    #footer button {
        padding: 6px 6px;
        margin: 8px 10px; 
        font-size: 14px; 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
    .mas{
        flex: content;
        max-width: 15%;
    }

}


/* Tablet */
@media (min-width: 768px) {
    body {
  overflow: hidden; /* Oculta tanto el scroll horizontal como el vertical */
    }
    
    #titulo{
    font-size: 90px;
    padding: 40px;
    }

    .cuadro{
        width: 90%;
    }   

    .texto{
        font-size: 20px;
        flex: content;
    }

    .p{
        font-size: 20px;
    }

    li p{
        font-size: 18px;
    }

    .abajo{
        max-height: 40vh;
        overflow-y: auto;
        overflow-x:hidden;
    }
    
    #footer {
        flex-direction:row; 
        align-items:flex-start;
        width: 100%;
        padding: 2rem; 
    }

    #footer button {
        padding: 8px 10px;
        margin: 8px 10px; 
        font-size: 16px; 
        display: flex;
    }

}

/* Laptop */
@media (min-width: 1025px){
    
    #titulo{
        font-size: 100px;
        padding: 30px;
    }
    
    .cuadro{
        width: 70%;
    } 

    .texto{
        font-size: 20px;
        flex: content;
    }

    .p{
        font-size: 20px;
    }

    li p{
        font-size: 18px;
    }

    .abajo{
        max-height: 40vh;
        overflow-y: auto;
        overflow-x:hidden;
    }
    
    #footer {
    flex-direction: row;
    align-items: flex-start; 
    width: 100%;
    padding: 12px 0; 
    }

    #footer button{
    padding: 8px 15px;
    border-radius: 10px;
    font-size: 18px;
    } 

}

/* Escritorio */
@media (min-width: 1444px){
    #titulo{
        font-size: 120px;
        padding: 55px;
    }

    .cuadro{
        width: 50%;
    }   

    .texto{
        font-size: 22px;
        flex: content;
        margin: 5px;
    }

    .p{
        font-size: 20px;
    }

    li p{
        font-size: 18px;
    }

    .abajo{
        max-height: 40vh;
        overflow-y: auto;
        overflow-x:hidden;
    }

    #footer button{
        padding: 10px 65px;
        border-radius: 10px;
        font-size: 18px;
    }
}

